*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    background-color:#323946;
    padding: 20px 0px;
    width: 100%;
}
.menu-bar{
    display: none;
    background-color: #FFF;
}
ul{
    max-width: 40%;
    margin-left: 100px;
}
.nav-enlaces{
    display: flex;  
    justify-content: space-between;
}

a{
    font-size: 18px;
    font-style: unset;
    color: #fff;
    
}

@media (max-width: 1095px){
    ul{
        max-width: 100%;
        margin-left: 0px;
    }
    nav{
        padding: 20px 0px;
        max-width: 100%;
      
    }
    .nav-enlaces{
        display: flex;  
        justify-content: space-evenly;
    }
}
@media(max-width:598px){
    .nav-enlaces{
        display: none;
    }
    .menu-bar{
        
        padding: 20px 50px;
        color: #fff;
        font-size: 20px;
        background-color:#323946;
        display: flex;
        justify-content: right;
    }
}
.nav-enlaces-visible{
    display: flex;
    
}
.nav-enlaces-no-visible{
    display: none;
    
}
